@font-face {
    font-family: roboto;
    src: url("./fonts/Roboto-Regular.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    background-color: #FFEDDF;
}

.player-cards {
    display: flex;
    height: 100svh;
    padding: 3rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.player-card {
    background-color: #C3B7B0;
    padding: 2rem;
    border-radius: 20%;
    box-shadow: 1px 1px 4px black;
    margin: 0.8rem;
}

.player-card .top {
    font-size: 1.5rem;
    font-weight: bold;
}

.player-card .top {
    margin-left: 2rem;
}

.player-card .input {
    font-size: 1rem;
    font-weight: bold;
}

.player-card .input input {
    font-size: 1rem;
    width: 8rem;
    outline: none;
    margin-left: 0.5rem;
    border: none;
    border-radius: 4rem;
    padding: 0.25rem;
    background-color: #FFEDDF;
    color: #868080;
    box-shadow: 1px 1px 4px black;
}

.play-button {
    width: 10rem;
    margin-left: 3rem;
    font-size: 1.25rem;
    padding: 0.25em 1em;
    border-radius: 5rem;
    background-color: rgb(99, 129, 99);
    border: none;
    box-shadow: 1px 1px 4px black;
}

.play-button:hover {
    background-color: rgb(30, 100, 30);
    cursor: pointer;
}

.history-container {
    position: fixed;
    overflow: auto;
    right: 10svw;
    bottom: 10svh;
    background-color: #868080;
    padding: 1.3rem;
    border-radius: 1.2rem;
}

.clear-button {
    margin-top: 2rem;
    width: 10rem;
    font-size: 1.25rem;
    padding: 0.25em 1em;
    border-radius: 5rem;
    background-color: rgb(99, 129, 99);
    border: none;
    box-shadow: 1px 1px 4px black;
}

.clear-button:hover {
    background-color: rgb(30, 100, 30);
    cursor: pointer;
}